.main-background{
  background: linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
  animation: name 12s ease infinite;
  background-size: 400% 400%;
  height: 100vh;
}
@keyframes name{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
.main{
  border: 1px solid black;
}
.background{
  background-image: url('../src/images/Background.png');
  background-size: cover;
  background-position: center;
  border-radius:50%;
  padding: 8px 0;
}
.sign:hover{
  transform: scale(1.2,1.2);
  transition: 0.3s;
}
.heading-text{
  text-shadow: 3px 3px lightgray;
}
